@font-face {
    font-family: 'Swansea';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Swansea.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
    font-family: 'Swansea';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Swansea_bold.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
    margin: 0;
    padding: 0;
}

header {
    padding: 5px 0px;
    border-bottom: 1px solid #0f294c;
}

.contact_bar {
    text-align: right;
    width: 100%;
}

.contact_bar i {
    font-size: 18px;
    color: #0f294c;
}

.contact_bar a {
    font-family: 'Swansea';
    color: #0f294c;
}

.contact_bar a:hover {
    text-decoration: none;
}

.log {
    float: left;
}

.log img {
    max-width: 100%;
}

.main_nav {
    float: right;
    margin-top: 60px;
}

.main_nav ul li {
    display: inline-block;
}

.main_nav ul li a {
    color: #35a8df;
    padding-left: 35px;
}

.main_nav ul li a:hover {
    text-decoration: none;
    color: #0f294c;
}

.who_part {
    background: #0f294c;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#0f294c, #fff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#0f294c, #fff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#0f294c, #fff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#0f294c 80%, #fff 20%);
    /* Standard syntax (must be last) */
}

.who_we_are {
    padding: 35px 0px;
}

.who_we_are h3 {
    font-size: 24px;
    color: #fff;
}

.who_we_are p {
    color: #fff;
}
.who_we_are ul li {
    color: #fff;
}
.who_we_are a {
    float: right;
    padding: 5px 20px;
    border: 1px solid #fff;
    color: #fff;
}

.who_we_are a:hover {
    text-decoration: none;
}

.our_products {
    margin: 10px;
    background: #fff;
    padding: 15px 20px;
    border: 2px solid #0f294c;
}

.our_products h3 {
    font-size: 24px;
    text-transform: uppercase;
    color: #0f294c;
    border-bottom: 1px solid #0f294c;
    padding: 10px 0px;
}

.our_products ul {
    padding-left: 0;
}

.our_products ul li {
    color: #0f294c;
    text-transform: uppercase;
    background: url(../images/ul_dot.png) no-repeat left;
    list-style: none;
    padding-left: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.our_products ul li a {
    color: #0f294c;
}

.our_products ul li a:hover {
    text-decoration: none;
}

.features {
    background: #fff;
    padding: 20px 20px;
    border: 2px solid #0f294c;
}

.features ul {
    padding: 0;
}

.features ul li {
    padding: 10px 0px;
    list-style: none;
    border-bottom: 1px solid #0f294c;
}

.certificate {}

.certificate ul {}

.certificate ul li {
    display: inline-block;
    margin-top: 190px;
    padding: 0px 14px;
}

.application_part {
    padding: 45px 0px;
}

.app_items {
    padding: 20px 0px;
}

.app_head {
    background: url(../images/row.jpg) no-repeat center;
    text-align: center;
}

.app_head h2 {
    display: inline-block;
    background-color: #FFF;
    margin: 0;
    padding: 0px 5px;
}

.app_row {
    text-align: center;
    margin: 0px -3px;
    font-size: 0px;
}

.app_row a {
    display: inline-block;
    color: #FFF;
    width: 20%;
    padding: 0px 3px;
    box-sizing: border-box;
}

.app_row a img {
    width: 100%;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.app_lnk_inner {
    position: relative;
    overflow: hidden;
}

.app_overlay {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(15, 41, 76, 0.9);
    opacity: 0;
    padding: text-align: center;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.app_overlay h4 {
    margin: 0px;
    font-size: 17px;
    position: absolute;
    z-index: 999;
    width: 100%;
    left: 0px;
    top: 50%;
    text-align: center;
    margin-top: -18px;
    padding: 0px 15px;
    line-height: 1.42857143;
    opacity: 0;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.app_row a:hover .app_overlay {
    opacity: 1;
}

.app_row a:hover img {
    -o-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.app_row a:hover h4 {
    opacity: 1;
}

footer {}

.foot_pad {
    padding: 15px 0px;
}

.foot_nav {}

.foot_nav ul li {
    list-style: none;
    padding: 5px 0px;
}

.foot_nav ul li a {
    color: #0f294c;
}

.foot_nav ul li a:hover {
    text-decoration: none;
    color: #e87024;
}

.foot_contact {
    color: #0f294c;
}

.foot_contact h5 {
    font-weight: bold;
}

.foot_contact a {
    color: #0f294c;
}

.foot_contact a:hover {
    text-decoration: none;
}

.foot_quick_contact {
    color: #0f294c;
}

.foot_quick_contact h5 {
    font-weight: bold;
}

.foot_quick_contact input {
    margin: 15px auto;
    height: 28px;
    display: list-item;
    width: 100%;
    border: 1px solid #0f294c;
    outline: none;
    color: #0f294c;
}

.foot_quick_contact input[type="text"] {
    padding-left: 8px;
    color: #0f294c;
}

.foot_quick_contact button {
    margin-top: 5px;
    width: 120px;
    height: 28px;
    background: none;
    border: 1px solid #0f294c;
    float: right;
}

.copy {
    width: 100%;
    background: #0f294c;
    color: #fff;
}

.copy p {
    padding: 15px 0px;
    float: left;
    margin: 0;
}

.copy .powr {
    float: right;
}

.application_cube{
    width: 100%;
}
.application_icon{
    width: 114px;
    background: #35a8df;
    float: right;
    margin: 3px;
}
.application_icon_1{
    float: right;
}
.application_icon_2{
    float: right;
}
.application_icon_3{
    float: right;
}
.application_icon_4{
    float: right;
}
.application_icon img{
    max-width: 100%;
}
.overlay{
    display: none;
    position: absolute;
    color: #0f294c;
    margin-top: -70px;
    margin-left: 27px;
    background: #fcfcfc;
    width: 100%;
    height: 100%;
}
.application_icon:hover .overlay{
    display: inline-block;
}
.app_items_row{
    padding: 4px 0px;
}
.app_row_size a{
    width: 130px;
    float: right;
}
/*SLIDER*/

.banner {
    z-index: 0;
}
.banner_wrap{
    width: 100%;
    margin-top: 3px;
}
.banner_box {
    width: 100%;
    height: 300px;
}

.banner_box1 {
    background: url(../images/slid.jpg) no-repeat center;
    background-size: cover;
}

.banner_box2 {
    background: url(../images/slid_1.jpg) no-repeat center;
    background-size: cover;
}

.banner_box3 {
    background: url(../images/slid_3.jpg) no-repeat center;
    background-size: cover;
}
.banner_box4 {
    background: url(../images/slid_4.jpg) no-repeat center;
    background-size: cover;
}
.banner_box5 {
    background: url(../images/slid_5.jpg) no-repeat center;
    background-size: cover;
}
.banner_box6 {
    background: url(../images/slid_6.jpg) no-repeat center;
    background-size: cover;
}
.slid {}

.cap_wrap {
    text-align: left;
    margin-top: 50px;
}

.cap_block {
    display: inline-block;
    width: 100%;
    max-width: 500px;
    background-color: rgba(250, 250, 250, 0.8);
    color: #FFF;
    padding: 25px 15px;
}


/*.cap_block h3 {
    font-size: 36px;
    font-weight: 700;
}*/

.cap_block p {
    font-size: 24px;
    color: #000;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 250px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: left;
    text-shadow: none;
    width: 450px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption h3 {
    font-size: 36px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 16px;
    color: #fff;
}

/*NAV TOGGLE*/

.nav_trigger {
    display: none;
    font-size: 23px;
    color: #0f294c;
    border: 1px solid #0f294c;
    text-align: center;
    width: 40px;
    height: 35px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50px;
    border-radius: 3px;
    -o-transition: all 0.2s easer-out;
    -moz-transition: all 0.2s easer-out;
    -webkit-transition: all 0.2s easer-out;
    transition: all 0.2s easer-out;
    z-index: 5000;
    background: #fcfcfc;
}

.nav_trigger:hover {
    background-color: #0f294c;
    color: #FFF;
}

/*product page*/
.packing_img{
    text-align: center;
}
.packing_img img{
    max-width: 100%;
}
.quality{
    
}

.quality_part h4{
    text-align: center;
    background: #0f294c;
    color: #fff;
    padding: 10px 0px;
    margin-bottom: 0;
}
.quality_bx{
    float: left;
    border: 1px solid #000;
    width: 100%;
    padding: 25px 15px;
}
.quality{
    float: left;
}
.packing{
    float: right;
}
.our_products_pg{
    background: url(../images/about_bg.png) no-repeat ;
    background-size: cover;
}
.head_qulty {
    text-align: center;
    background:url(../images/row.jpg) no-repeat center #fff;
}
.head_qulty h2{
    font-size: 24px;
    color: #0f294c;
    display: inline-block;
    background: #fff;
    padding: 0px 8px;
    margin: 20px 0px
}
.certificates{
    
}
.certificates ul{
    
}
.certificates ul li{
    display: inline-block;
    padding: 0px 50px;
}
.product_box{
    border: 1px solid #0f294c;
    display: inline-block;
    margin: 15px 0px;
    height: 350px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}
.prdct_img_box{
    width: 50%;
    float: left;
}
.prdct_img_box h4{
    font-size: 14px;
    background: #0f294c;
    color: #fff;
    margin: 0;
    padding: 15px 0px;
    text-align: center;
    text-transform: uppercase;
}
.prdct_img_box img{
    max-width: 100%;
}
.prdct_description_box{
    width: 50%;
    padding: 15px;
    float: left;
    height: 100%;
    border-left: 1px solid #000;
}

/* gallery*/

.gallery_pg{
    padding: 25px 0px;
}
.gallery_pg h2{
    color: #fff;
    text-align: center;
    font-size: 24px;
    padding: 15px 0px;
    margin: 0;
    background: #0f294c;
}
.gallery_wrap{
    background: #fff;
    padding: 25px 0px;
}
.gllry_box{
    padding: 25px 0px;
    text-align: center;
}
.gllry_box img{
    max-width: 100%;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
a.project_box{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    padding: 0px;
    margin-bottom: 10px;
    display: block;
    height: 188px;
}
a.project_box img{
    max-width: 100%;
}
.proj_overlay{
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 0px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    -o-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-out;
}
.proj_overlay_top{
    top: 0px;
}
.proj_overlay_bottom{
    bottom: 0px;
}
.project_box:hover .proj_overlay{
    height: 50.004%;
}
span.zoom_ico{
    display: inline-block;
    position: absolute;
    z-index: 9999;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    opacity: 0;
    -o-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.project_box:hover span.zoom_ico{
    opacity: 1;
}
.project_wrap row{
    margin: 0px -5px;
}
.project_wrap .col-lg-3,
.project_wrap .col-md-3,
.project_wrap .col-sm-3{
    padding: 0px 5px;
}

/*About us */
.about_pg{
    background: url(../images/about_bg.png) no-repeat center;
    background-size: cover;

}
.about_box{
    border: 1px solid #0f294c;
    padding: 20px 60px;
    margin: 20px 120px;
    background-color: rgba(255, 255, 255, 0.7);
}

/*Contact us */

.head_contact{
    background: url(../images/row.jpg) no-repeat center;
    text-align: center;
}
.head_contact h2{
    color: #0f294c;
    display: inline-block;
    font-size: 24px;
    padding: 15px 5px;
    margin: 0;
    background: #fff;
}
.contact_form{
    background: #0f294c;
    padding: 25px 40px;
}
.contact_form input {
    margin: 15px auto;
    height: 40px;
    display: list-item;
    width: 100%;
    border: 1px solid #000;
    outline: none;
}

.contact_form input[type="text"] {
    padding-left: 8px;
}
.contact_form textarea {
    margin: 15px auto;
    height: 100px;
    display: list-item;
    width: 100%;
    border: 1px solid #000;
    outline: none;
    padding-left: 8px;
}

.contact_form button {
    margin-top: 10PX;
    width: 140px;
    height: 30px;
    background: #fff;
    border: 1px solid #000;
    color: #0f294c;
}
.adrs{
    text-align: center;
    padding: 15px 0px;
}
/*Apllication */
.app_description{
    
}
.app_description h2{
    text-align: center;
    color: #fff;
    background: #35a8df;
    padding: 8px 0px;
    margin: 10px 0px;
    font-size: 24px;
}
.app_inner_img{
    margin: 0 auto;
    width: 50%;
    float: left;
}
.app_inner_img img{
    max-width: 100%;
}
.app_descr{
    padding: 15px 0px;
    width: 48%;
    text-align: justify;
    float: right;
}
/* Downloads */

.downloads{
   text-align:center;
   padding: 135px 0px;
}
.downloads a{
    padding: 8px 15px;
    border: 1px solid #333;
           margin-top: 20px;
    display: inline-block;
color: #000;
   
}
.downloads a:hover{
        text-decoration: none;
       color:#35a8df;
      border: 1px solid #35a8df;
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1200px) {
    .certificate ul li {
        padding: 0px 7px;
    }
    .app_row_size a{
        width: 109px;
    }
    .app_items_row {
        padding: 12px 0px;
    }
    .certificates ul li{
    display: inline-block;
    padding: 0px 37px;
}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
    
    .our_products {
        margin: 0px;
        padding: 15px 10px;
    }
    .our_products ul li {
        padding-left: 25px;
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .certificate ul li {
        padding: 0px 1px;
    }
    .certificate ul{
        padding: 0;
    }
    .remove_row{
        display: none;
    }
    .app_row_size a{
        padding: 3px;
    }
        .certificates ul li{
    display: inline-block;
    padding: 0px 21px;
}
}

@media only screen and (max-width:767px) {
    
  .nav_trigger {
        display: inline-block;
    }
    .main_nav {
        display: none;
        float: none;
        background: #fcfcfc;
        margin-top: 128px;
        padding: 20px;
        margin-bottom: 20px;
    }
    .main_nav > ul > li {
        display: list-item;
        list-style: none;
        text-align: center;
    }
    .main_nav > ul > li > a {
        display: block;
        padding: 5px 0px;
    }
    .who_part {
        background: linear-gradient(#0f294c 84%, #fff 16%);
    }
    .our_products {
        margin: 25px 110px;
    }
    .our_products ul li{
        padding-left: 45px;
    }
    .who_we_are{
        padding:35px 15px;;
    }
    .certificate ul li {
        display: inline-block;
        margin-top: 20px;
        padding: 0px 14px;
    }
    .foot_nav{
        text-align: center;
    }
    .foot_nav ul{
        padding: 0;
    }
    .foot_contact{
        text-align: center;
    }
    .project_wrap .col-lg-3,
    .project_wrap .col-md-3,
    .project_wrap .col-sm-3{
    padding: 0px 10px;
}
 a.project_box{
    height: auto;
}  
.app_inner_img {
    margin: 0 auto;
    width: 100%;
}
    .product_box{
        height: auto;    
    }
.about_box{
          margin: 20px 10px;
}
.about_box ul{
     padding:0;
}
}
@media only screen and (max-width:480px){
    .our_products {
        margin: 15px 10px;
    }
    .app_row a {
        display: inline-block;
        color: #FFF;
        width: 100%;
        padding: 3px 3px;
        box-sizing: border-box;
    }
    .copy p {
        text-align: center;
        float: none;
    }
    .copy .powr {
        float: none;
        text-align: center;
    }
    .main_nav > ul{
        padding: 0;
    }
    .app_items_row {
        display: none;
    }
    .slid .col-lg-8 .col-md-8 .col-sm-8{
        padding: 0;
    }
    .prdct_img_box{
        width: 100%;
        text-align: center;
    }
    .prdct_description_box{
        width: 100%;
        border: none;
    }
    .certificates ul li {
    display: inline-block;
    padding: 0px 5px;
}
}

